.labelSite-container{
    display: grid;
    margin-top: 20px;
    max-width: 1000px;
    margin: auto;
}
/***leftbar***/
.leftbar{
    display: grid;
    justify-content: center;
    align-items: center;
}

.leftbar img{
    width: 10em;
    border-radius: 50%;
    margin-top: 10px;
}
.label-img-container{
    display: flex;
    justify-content: center;
}
.labelname{
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 5px;
}

/*Label followers*/
.label-followers{
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}
.label-follow{
    width: 150px;
    height: fit-content;
    padding: 3px;
    font-weight: 600;
    border: 1px solid rgb(95, 88, 80);
    background-color: rgba(63, 77, 88, 0.438);
    color: aliceblue;
}

/*Socials*/
.label-socials{
    display: grid;
    justify-content: center;
    margin-top: 15px;
}
.fb:hover{
    color: rgb(9, 9, 206);
}
.yt:hover{
    color: red;
}
.inst:hover{
    color: palevioletred;
}
.soundcloud:hover{
    color: rgb(230, 66, 1);
}
.spotify:hover{
    color: green;
}
.socials-name{
    margin-inline: 10px;
}

/***rightbar***/
.label-nav{
    display: flex;justify-content: space-around;
}


/*Media queries*/

@media screen and (max-width: 649px){
    .label-socials{
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        justify-content: space-between;
    }
    .socials-name{
        display: none;
    }
}

@media screen and (min-width: 650px){
    .leftbar{
        width: 300px;
    }
    .labelSite-container{
        grid-template-columns: 300px 1fr;
    }
    
}