.section-line{
    border: 1px solid rgb(153, 152, 150);
    /*width: 25%;*/
    min-width: 100px;
}
.trackSection-container{
    /*background-color: rgb(120, 121, 122);
    margin-block: 15px;*/
    width: 100%;
    display: grid;
    text-align: center;
}
.section-content{
    display: flex;
    justify-content: space-around;
}